/*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Bangers', cursive;
*/

*{
    padding: 0;
    margin: 0;

}

body{
    background-color: black;
    min-height: 100vh; /*ESTO HACE QUE OCUPE EL 100 DE LA PANTALLA*/
    display: flex;
    flex-direction: column;
}

.cuerpo{
    background-image: url("fotoFond.png");
    min-height: 60em;
}

/* -----------------BARRA SUPERIOR ----------------------------------------*/

.barraSuperior{
    padding: 0.8em 2em;
}

.primeraFila{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.5em 0;
 }

 .redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
 }

 #desplegable{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 650px;
    margin: auto;
    position:relative;
    top:-2.2em;   
    opacity: 0;
    transition: all 1.5s;
}
.menu{
    display: flex;
}

#desplegar{
    margin: auto;
    position: absolute;
    top:1.6em;
    left: 58%;
}
#contraer{
    margin: auto;
    position: absolute;
    top:1.6em;
    left: 58%;
    display: none;
}

.opciones{
    font-family:'Alegreya Sans SC', sans-serif ;
    font-weight: 800;
    font-size: 1.5em;
    color: #000000;
    margin: 0.2em 0.2em;
    padding: 0.2em 0.2em;

}

.icono{
    background-color: #C08453;
    border-radius: 0.25em;
    margin: 0.7em .3em;
    padding: .2em .4em;
}

.contacto{
    width: 10em;
    margin-left: 1.1em;
}

#celular{
    color:  #C08453;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    margin-left: .3em;

}
#linkWhatsapp{
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
}
#linkWhatsapp:active, #linkWhatsapp:visited,#linkWhatsapp:link{
    color:black;
    text-decoration: none;
}

.nombre{
    position: absolute;
    top:0.3em;
    left:41%;
    color: #C08453;
    font-family: 'Bangers', cursive;
    font-size: 3em;
}

/*-----------------------------------------------FOOTER--------------------------------*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(99, 97, 97, 0.274);
    margin-top: auto;
}

.textoFooter{
    color:  #c08453bd;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: small;
    
}

.ladoIzq, .ladoDerecho{
    margin: 0.5em 0.5em;
    padding: 0.2em 0.2em;
}

.ladoIzq{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ladoDerecho{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

